body {
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.navbar {
  position: fixed; 
  overflow: hidden;
              /*first, white; at scroll, turn to this dark red color. */
  background-color: rgb(133, 62, 62);    
  top: 0;
  width: 100%; 
  height: 70px;
  font-family: 'Lobster', cursive;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

  
/* media query for navbar starting at 900px
create a burger menu
center logo*/


.logo {
  display: flex;  
  align-items: center;
  margin-right: auto;
  padding-left: 30px;
}

#logo{
  height: 50px;
}

.logo a {
  font-size: 30px;
  text-decoration: none;
  color: #FBF5DA;  
}

.nav-link {
  margin-right: 50px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 25px;
}

.nav-link:hover {
  color: red;
}

/* HEADER IMAGE */
.welcome {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
  background-image: url(./images/kimchi-closeup.jpg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
}

#fresh {
  font-family: 'Montserrat', sans-serif;
  margin: 20px 100px;
  font-size: 55px;
  color: #ffffff;
}


/* THE WHYs */
/* media query 
turn about3 flexdir to row 
increase height of why
*/
.why {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 600px;
  text-align: center;
  width: 100%;
}
  
.why h4 {
  font-family: 'Montserrat', sans-serif;
  color: #cf3b3b;
  font-size: 20px;
  margin: 0;
}

.why i {
  color: #8c2718;
  align-items: center;
}

.why p {
  font-style: italic;
}


.about {
  background: rgb(255, 238, 142);
  border-radius: 3px;
  height: 100px;
  width: 100vh;
  /* margin: 10px; */
  padding: 5px;
  
}

.organic {
  background: rgb(255, 236, 128);
}

.spice {
  background: rgb(253, 233, 116);
}

.chef {
  height: 150px;
  background: rgb(255, 231, 95);
}
  
  



  
/* E-MAIL SUBSCRIPTION */
  #subscribe {
    text-align: center;
    background: #F6D0CB;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
   
  }
  input, button {
      font-family: 'Open Sans', sans-serif;
  }
  
  #love {
    font-size: 80px;
    text-align: center;
    color: #8c2718;
    font-family: 'Montserrat', sans-serif;
  }
  #packages {
  
    gap: 50px;
        display: flex;
      align-items: center;
      justify-content: center;
  
  }
  #twelve{
    font-family: 'Montserrat', sans-serif;
    background: #545678;
    width: 200px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    padding: 0px 0px 5px 0px;
    color: #FBF5DA;
  }
  #twelve h5 {
    color: #000;
    background: #FBF5DA;
    height: 30px;
    width: 200px;
    padding-top: 10px;
    border-radius: 7px;  
  }
  #kimchi {
    max-width: 180px;
    border-radius: 7px;
  }
  #choose {
    color: #000;
    background: #F6D0CB;
    border-radius: 5px;
  }
  #other-prods {
      gap: 50px;
        display: flex;
      align-items: center;
      justify-content: center;
  }
  #prod1 {
      max-width: 500px;
      border-radius: 50px;
  
  }
  #prod2 {
      max-width: 500px;
      border-radius: 50px;
  
  }
  #prod3 {
      max-width: 550px;
      border-radius: 50px;
  }
  
  @media (max-width: 720px) {
    #header-img {
    position: absolute;
    left: 150px;
    height: 50px;
    padding-top: 10px;
    }
  
    .navbar h2 {
    position: absolute;
    left: 210px;
    font-family: 'Lobster', cursive;
    }
    
     .navbar {
       height: 100px;
     }
    
    .navbar a {
    display: inline;
    color: #703d57;
    padding-left: 60px;  
    text-decoration: none;
    float: left;
    padding-top: 65px;
    fontsize: 40px;
  
    }
  
     
     #other-prods {
      display: grid;
    }
    
  }
  

  .placeholder {
    max-width: 200px;
  }
       