body {
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 


/* NAVBAR */


nav {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
}



.logo {
  display: flex;  
  align-items: center;
  margin-right: auto;
  padding-left: 30px;
}

#logo{
  height: 50px;
}

.logo a {
  font-size: 30px;
  text-decoration: none;
  color: #FBF5DA;  
}

.mainMenu {
  display: flex;
  list-style: none;
  /* height: 100vh; */
}

.openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu , .icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.nav-link {
  margin-right: 50px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 25px;
}

.nav-link:hover {
  color: rgb(247, 211, 7);
}

.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}



@media (max-width: 850px) {
  /* MOBILE */

  nav .openMenu {
    display: block;
  }
  
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: top 1s ease;
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  

  nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
    font-size: 1.6rem;
  }  

  .icons i {
    display: inline-block;
    padding: 12px;
  }
  
  
}



/* HEADER IMAGE */
.welcome {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
  background-image: url(./images/kimchi-closeup.jpg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  width: auto;
}

#fresh {
  font-family: 'Montserrat', sans-serif;
  margin: 20px 100px;
  font-size: 55px;
  color: #ffffff;
}


/* THE WHYs */
/* media query 
turn about3 flexdir to row 
increase height of why
*/
.why {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 600px;
  text-align: center;
  /* width: 100%; */
}
  
.why h4 {
  font-family: 'Montserrat', sans-serif;
  color: #cf3b3b;
  font-size: 20px;
  margin: 0;
}

.why i {
  color: #8c2718;
  align-items: center;
}

.why p {
  font-style: italic;
}


.about {
  background: rgb(253, 239, 159);
  border-radius: 3px;
  height: 100px;
  /* width: 100vh; */
  margin: 10px;
  padding: 5px;
  
}

.organic {
  background: rgb(255, 236, 130);
}

.spice {
  background: rgb(255, 233, 107);
}

.chef {
  height: 150px;
  background: rgb(255, 231, 95);
}
  


  
/* E-MAIL SUBSCRIPTION */
.subscribe {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  width: auto;
  border-radius: 5px; 
  font-family: 'Montserrat', sans-serif;

  /* gradient bg from coolors.co */
  background: hsla(17, 95%, 50%, 1);
  background: linear-gradient(90deg, hsla(17, 95%, 50%, 1) 0%, hsla(42, 94%, 57%, 1) 100%);  
  background: -moz-linear-gradient(90deg, hsla(17, 95%, 50%, 1) 0%, hsla(42, 94%, 57%, 1) 100%);  
  background: -webkit-linear-gradient(90deg, hsla(17, 95%, 50%, 1) 0%, hsla(42, 94%, 57%, 1) 100%);  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F74C06", endColorstr="#F9BC2C", GradientType=1 );
  /* gradient bg from coolors.co */  
}

.subscribe h3 {
  color: #fffdef;
  font-size: 30px;
  text-align: center;
}

input, button {
  font-family: 'Montserrat', sans-serif;
}


/* VIDEO CLIP */ 

.how {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  border: 5px solid #8c2718;
  margin: 40px 10px;
}

#love {
  padding: 30px;
  font-size: 70px;
  text-align: center;
  color: #8c2718;
  font-family: 'Montserrat', sans-serif;
  background-color: beige;
}  

.video {
  padding: 10px;
  background-color:blanchedalmond;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 400px;
  height: 300px;
}

@media (max-width: 820px) {
  .how { 
    height: 850px;
    flex-direction: column;
  }

  #love {  width: 360px; }
}

  


/* PRICING */

.packages-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 800px;
}

.packages-box h2 {
  color: green;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.packages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* mquery, change to column */

}  

.pack-container {
  font-family: 'Montserrat', sans-serif;
  background: #f0f0f0;
  width: 400px;
  height: 410px;
  border-radius: 3px;
  text-align: center;
  color: #270101;
  margin: 10px;
}

.pack-image {
  width: 250px; /* width of container */
  height: 230px; /* height of container */
  object-fit: cover;
  border: none;
}

#choose {  
  color: rgb(255, 255, 255);
  background: #ce4009;
  border: none;
  /* border-radius: 5px; */
  width: 100%;
  height: 40px;
}
 
#choose:hover {
  background-color: rgb(255, 136, 0);
  color: #fff;
  cursor: pointer;
}





/* COMING SOON */
.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1000px;
}

.coming-soon h2 {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: #8c2718;
  margin-left: 50px;
}

.soon-img {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.soon-img img {
  height: 500px;
}

@media (max-width: 1275px) {
  .packages { flex-direction: column; }  
  .packages-box { height: 1400px; }
  .coming-soon { height: 1400px; }
  .soon-img { flex-direction: column; }
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(81, 129, 66);
  height: 150px;
}

#logo-footer {
  font-size: 20px;
  font-family: 'Lobster', cursive;
  color: #FBF5DA;  
}

.footlinks a{
  text-decoration: none;
  margin-left: 10px;
  color: rgb(255, 230, 121);
  font-size: 20px;
}

.footlinks a:hover {
  color: #ce4009;
}

#contact {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #f0f0f0;
  margin-top: 10px;
}

#contact:hover {
  color: #eb4646;
}